<% flash.each do |key,message| %>
  <p class="alert <%= flash_class(key) %>"><%= message %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </p>
<% end %>
